<ul class="comment-section">

    <li class="comment user-comment">
       
       <a class="avatar" href="#">
            <img src="https://webiconspng.com/wp-content/uploads/2016/11/account_avatar_human_male_man_people_person_profile_user_users_icon_325966-300x300.png" width="35" alt="Profile Avatar" title="Anie Silverston" />
        </a> <div class="info">
            <a href="#">Anie Silverston</a>
            <span>4 hours ago</span>
        </div>
        
        <p>Suspendisse gravida sem?</p>
    </li>

    <li class="comment author-comment">
        <div class="info">
            <a href="#">Jack Smith</a>
            <span>3 hours ago</span>
        </div>
        <a class="avatar" href="#">
            <img src="https://webiconspng.com/wp-content/uploads/2016/11/account_avatar_human_male_man_people_person_profile_user_users_icon_325966-300x300.png" width="35" alt="Profile Avatar" title="Jack Smith" />
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem sit amet molestie portitor.</p>

    </li>
