body {
  text-align: center;
}
nav {
  background-color: rebeccapurple;
}
a.home_categories {
  color: black;
  text-decoration: none;
}
div.home_categories {
  display: flex;
  align-content: stretch;
  justify-items: center;
}

img.home_categories {
  width: 250px;
  height: 200px;
}
img.latest_post {
  width: 800px;
  height: 500px;
}
