
<% @category.posts.each do                                                                                           |post|%>
<%= post.title%>
 <p><%= raw markdown(post.body).truncate(300)%><%= link_to "Read more", post_path(post)%></p>
<% end %>